#notes_form table { width: 95% }
td.label { text-align: right; vertical-align: top; width: 15%; white-space: nowrap }
td.data { width: 85% }
#id_effective_date{ width: 8em }
#id_note { height: 4em; width: 100% }
#new_note { float: right; margin-top: -1.6em }
td.date_column { width: 15%; vertical-align:top }
td.note_column { width: 85% }
td.delete_column { vertical-align:top }
.editable_date:hover, .editable_textarea:hover { cursor:pointer }
